.article-section {
  max-width: 1080px;
  margin: 0 auto;
  color: #333333;

  h2 {
    font-size: 28px;
  }
  .btn-container {
    margin: 32px auto;
  }
}

@media only screen and (max-width: 768px) {
  .article-section {
    .btn-container {
      margin: 24px auto;
    }
  }
}

