@import '../../styles/variables';

.post-container {
  .head {
    display: grid;
    color:  #ffffff;
    height: 100vh;
    width: 100%;
    align-content: center;
    background-color: #333333;
    background-size: cover;
    background-position: 50%;
    background-image: url(../../public/images/back-default.jpg);

    h1, h4 {
      margin: 0;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.5);
      z-index: 0;
    }

    .head-content {
      z-index: 1;

      h1 {
        font-size: 4.5em;
        color: #fefefe;
        margin: 10px;
        text-transform: uppercase;
      }

      h4 {
        font-size: 26px;
        margin: 10px;
        font-family: "Sylfaen",sans-serif;
        font-weight: 100;
      }

      p {
        font-size: 18px;
        margin: 10px;
        font-family: "Sylfaen",sans-serif;
      }
      .btn-down {
        position: absolute;
        bottom: 30px;
        right: 30px;
        z-index: 4;
        font-size: 30px;
        line-height: 1;
        cursor: pointer;

        svg {
          fill: #ffffff;
          width: 0.875em;
        }
      }
    }
  }

  .just-black {
    background-image: none;
  }
}

@media only screen and (max-width: 1200px) {
  .post-container {
    .head {
      .head-content {
        h1 {
          font-size: 3em;
          margin: 8px;
        }

        h4 {
          font-size: 26px;
          margin: 10px;
        }

        p {
          font-size: 18px;
          margin: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .post-container {
    .head {
      .head-content {
        h1 {
          font-size: 2em;
          margin: 8px;
        }

        h4 {
          font-size: 16px;
          margin: 10px;
        }

        p {
          font-size: 12px;
          margin: 10px;
        }
      }
    }
  }
}
