.back-max {
  margin-bottom: -25px;
  padding-top: 50px;
  padding-bottom: 1px;
  background-image: url(../../../public/images/back-max.jpg);
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.back-copybook {
  margin-top: -50px;
  padding: 1px 1px 50px;
  background: url(../../../public/images/back-copybook.jpg) no-repeat 100% 50px;
}

.content-container {
  max-width: 780px;
  margin: 0 auto;
  color: #333333;
  box-sizing: border-box;

  .content {
    margin: 20px;

    h1 {
      font-size: 4em;
    }

    h4 {
      font-size: 20px;
      margin-top: 60px;

      a {
        color: #000000;
        text-decoration: underline;
      }
    }

    p {
      font-size: 20px;
      font-family: "Sylfaen", sans-serif;

    }

    .btn-container {
      padding: 40px 0 60px;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .back-copybook {
    background: hsla(0, 0%, 100%, .5);
  }

  .content-container {
    .content {
      h1 {
        font-size: 3em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content-container {
    .content {
      h1 {
        font-size: 2em;
      }
    }
  }
}

@media only screen and (max-width: 616px) {
  .back-copybook {
    padding: 1px 1px 1px;
  }

  .content-container {
    .content {
      .btn-container {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 16px 0 60px;
      }
    }
  }
}
