.extend-block {
  position: relative;

  .gradient {
    position: absolute;
    width: 100%;
    top: -400px;
    height: 390px;
    background: #fefcea;
    background: linear-gradient(0deg,#fff,hsla(0,0%,100%,0));
    padding: 10px;
  }

  .btn-container {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
