.archive-content {
  max-width: 780px;
  margin: 0 auto;

  ul {
    padding: 0;
  }

  h3 {
    margin: 2em 0 1em;
    font-size: 1.5em;
  }
  .topic-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      list-style-type: none;
      display: inline;
      white-space: nowrap;
      a {
        font-family: "Sylfaen", sans-serif;
        font-size: 20px;
        color: #1c93c5;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        font-family: "Sylfaen", sans-serif;
        font-size: 20px;
      }
    }

    li:not(:last-child){
      &:after {
        content: "·";
        margin: 0 0.5rem;
      }
    }
  }

  .articles-by-date {
    padding: 0 16px;
    margin-top: 54px;

    h3 {
      text-align: left;
      font-family: "Sylfaen",sans-serif;
      font-weight: 700;
      font-size: 26px;
      margin: 16px 0 0 0;
    }

    a, p, span {
      font-size: 20px;
      font-family: "Sylfaen",sans-serif;
    }

    li {
      list-style-type: none;
    }

    .articles-items {
      text-align: left;

      .article-container {
        display: grid;
        grid-template-columns: minmax(60px, 15%) 1fr;
        grid-gap: 16px;
        margin-bottom: 6px;

        .date {
          text-transform: capitalize;
        }
        .date-mob {
          display: none;
          text-transform: capitalize;
        }

        a {
          color: #1c93c5;

          &:hover {
            text-decoration: underline;
          }
        }

        .subscribe {
          font-style: italic;
          color: red;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .archive-content {
    .articles-by-date {
      .articles-items {
        .article-container {
          grid-gap: 8px;

          .date {
            display: none;
          }
          .date-mob {
            display: block;
          }
        }
      }
    }
  }
}
