.article-element {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 16px;
  padding: 24px;
  border-top: 1px solid #d3d3d1;

  a:hover {
    color: #1c93c5;
  }
  .article-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    .img-container {
      border-radius: 100%;
      overflow: hidden;
      display: grid;
      max-width: 132px;
      max-height: 132px;
      align-content: center;
      justify-content: center;
      height: auto;
      align-self: center;

      img {
        width: 100%;
        height: 100%;
        align-self: center;
      }
    }

    .meta-container {
      text-align: left;
      font-size: 16px;
      .meta-element {
        margin-bottom: 10px;

        .label {
          color: #999999;
        }
        .content {
          time {
            text-transform: capitalize;
          }
          .category:not(:last-child){
            &:after {
              content: ", ";
            }
          }
        }
      }
    }
  }

  .article {
    display: grid;
    grid-template-columns: 20% 1fr;
  }

  .article-container {
    text-align: left;

    h3 {
      margin: 0;
      font-size: 1.4em;
      text-transform: uppercase;
    }

    .for-subscribers {
      color: red;
      font-style: italic;
      margin: 0;
    }

    p {
      font-size: 20px;
      font-family: "Sylfaen",sans-serif;
    }
  }
}

.article-element:first-child {
  border-top: none;
}

@media only screen and (max-width: 768px) {
  .article-element {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 24px;
    border-top: 1px solid #d3d3d1;
  }
}
