.articles-subscriber-section {
  color: #333333;

  .divider {
    &:before {
      display: block;
      height: 35px;
      content: "";
      background: url(../../../public/images/devider.png) repeat-x scroll 0 100%/contain;
    }
    &:after {
      display: block;
      height: 35px;
      content: "";
      background: url(../../../public/images/devider-down.png) repeat-x scroll 0 0/contain;
    }
  }
  .container {
    max-width: 1080px;
    margin: 0 auto;

    h2 {
      font-size: 28px;
    }
    p {
      font-size: 20px;
      font-family: "Sylfaen",sans-serif;
      color: rgba(0, 0, 0, .8);
    }
    .description {
      margin: 48px 24px;
    }
    .btn-container {
      margin: 48px auto;
    }
  }
}
