.login-content {
  max-width: 780px;
  margin: 150px auto 0 auto;
  padding: 0 16px;

  h1 {
    text-transform: uppercase;
    color: #333333;
    font-size: 4em;
  }

  input {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    width: 90%;
    max-width: 490px;
  }
}
