.main {
  display: grid;
  justify-content: center;
}

.description {
  font-size: 12px;
  color: gray;
}

.search-container {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.search-container input {
  padding: 4px 8px;
}

.search-container button {
  border-radius: 0 8px 8px 0;
  border: 0px;
  border-inline: 0px;
  height: 40px;
  cursor: pointer;
}

.search-container button:hover {
  background: #ebebeb;
}
