.article-element {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-gap: 16px;
  padding: 24px;
  border-bottom: 1px solid #d3d3d1;

  a:hover {
    color: #1c93c5;
  }

  .article-content {
    text-align: left;

    h3 {
      margin-top: 0;
      text-transform: uppercase;
    }

    p {
      color: rgba(0, 0, 0, .8);
    }

    .read-more-container {
      .read-more {
        color: #1c93c5;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .article-element {
    grid-template-columns: 1fr;

    .article-content {
      text-align: left;

      h3 {
        margin-top: 0;
        text-transform: uppercase;
      }

      p {
        color: rgba(0, 0, 0, .8);
      }

      .read-more-container {
        text-align: right;
      }
    }
  }
}
