@import 'libs.scss';
@import 'variables.scss';
@import 'react-markdown-editor-lite';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: $LATO_REGULAR_FONT, sans-serif;
  color: rgba(0, 0, 0, .8);
  scroll-behavior: smooth;
}

ul, ol {
  li {
    font-size: 20px;
  }
}

table {
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.article-content {
  a {
    color: #1c93c5;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

@import 'components/header';

main {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.custom-html-style {
  max-width: 780px;
  margin: 8px auto;
  padding: 18px;
  color: rgba(0,0,0,.8);
  font-size: 20px;
  font-family: "Sylfaen",sans-serif;
  text-align: left;
  overflow-wrap: break-word;

  .video-container {
    display: grid;
    justify-content: center;
  }

  .video-description {
    display: grid;
    justify-content: center;
    font-style: italic;
    color: #747474;
    font-size: 16px;
  }
}

.custom-html-style h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

img[src*='#center'] {
  display: block;
  margin: auto;
}

img[src*='#right'] {
  float: right;
}

img[src*='#left'] {
  float: left;
}

.embed-responsive {
  display: flex;
  justify-content: center;
}

@import 'components/footer';

.not-found-container {
  display: grid;
  height: 100vh;
  align-content: center;
  justify-items: center;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
