version: '3.8'

services:
  mongo:
    image: mongo
    restart: always
    container_name: mongo
    volumes:
      - ./volumes/mongo:/data/db:rw,z
      - ./volumes/mongo_configdb:/data/configdb:rw,z
      - ./volumes/mongo_backups:/mongo_backups:rw,z
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=A8clHTevGo9qsuWYkVf0zq2tGSStnRw6
      - MONGO_INITDB_DATABASE=workstream
      - NODE_ENV={{ node_env }}

  redis:
    image: redis:6-alpine
    restart: always
    container_name: redis
    volumes:
      - ./volumes/redis:/data:rw,z

  initial-loader:
    image: {{ backend_img_name }}:{{ img_tag }}
    container_name: initial-loader
    volumes: [ './local_private_key_config.yml:/app/config/local.yml:ro' ]
    depends_on:
      - mongo
      - redis
    environment:
      - NODE_ENV={{ node_env }}
    command: sh -c 'node /app/dist/apps/initial-loader/main.js'

  contract-manager:
    image: {{ backend_img_name }}:{{ img_tag }}
    container_name: contract-manager
    volumes: [ './local_private_key_config.yml:/app/config/local.yml:ro' ]
    depends_on:
      - mongo
      - redis
      - initial-loader
    environment:
      - NODE_ENV={{ node_env }}
    command: sh -c 'sleep {{ timeout }} && node /app/dist/apps/contract-manager/main.js'

  referral-listener:
    image: {{ backend_img_name }}:{{ img_tag }}
    container_name: referral-listener
    volumes: [ './local_private_key_config.yml:/app/config/local.yml:ro' ]
    depends_on:
      - mongo
      - redis
      - initial-loader
    environment:
      - NODE_ENV={{ node_env }}
      - CONTRACT=${CONTRACT:-referralProgram}
    command: sh -c 'sleep {{ timeout }} && node /app/dist/apps/contract-listener/main.js'
    ports:
      - 7001:7001

  vexbe-listener:
    image: {{ backend_img_name }}:{{ img_tag }}
    container_name: vexbe-listener
    volumes: [ './local_private_key_config.yml:/app/config/local.yml:ro' ]
    depends_on:
      - mongo
      - redis
      - initial-loader
    environment:
      - NODE_ENV={{ node_env }}
      - CONTRACT=${CONTRACT:-veXbe}
    command: sh -c 'sleep {{ timeout }} && node /app/dist/apps/contract-listener/main.js'

  workstream:
    image: {{ backend_img_name }}:{{ img_tag }}
    container_name: workstream
    volumes: [ './local_private_key_config.yml:/app/config/local.yml:ro' ]
    depends_on:
      - mongo
      - redis
      - initial-loader
    environment:
      - NODE_ENV={{ node_env }}
    command: sh -c 'sleep {{ timeout }} && node /app/dist/apps/workstream/main.js'
    ports:
      - 3004:3004
      
  openssh-server:
    image: linuxserver/openssh-server
    container_name: openssh-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Novosibirsk
      - PUBLIC_KEY_FILE=/pubkeys
      - SUDO_ACCESS=false
      - PASSWORD_ACCESS=false
      - USER_NAME=alpine
      - DOCKER_MODS=linuxserver/mods:openssh-server-ssh-tunnel
    volumes:
      - ./pubkeys:/pubkeys
    ports:
      - 60022:2222

networks:
    default:
        driver: bridge
        name: ref-backend-network
