@import '../libs.scss';
@import '../variables.scss';

footer {
  .footer-container {
    color: #fefefe;
    background: #000000;
    width: 100%;

    &__content {
      max-width: $MIDDLE_WIDTH_CONTENT;
      margin: 0 auto;

      h1 {
        text-align: center;
        margin-top: 0;
        padding-top: 60px;
        font-size: 3em;
      }

      p {
        font-family: $SYLFAEN_FONT, sans-serif;
        font-size: 20px;
      }

      .btn-container {
        text-align: center;
        margin: 60px 0;
      }
    }
  }

  .copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;

    svg {
      fill: #ffffff;
      height: 16px;
    }

    &__title {
      justify-self: start;
    }

    &__menu {
      justify-self: end;
    }
  }

  &:before {
    display: block;
    height: 35px;
    content: "";
    background: url(../../public/images/devider.png) repeat-x scroll 0 100%/contain;
  }
}

@media only screen and (max-width: 1200px) {
  footer {
    .copyright {
      &__title {
        align-items: end;
      }
      &__menu {
        justify-self: end;
        span {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  footer {
    .footer-container {
      &__content {
        max-width: $MIDDLE_WIDTH_CONTENT;
        margin: 0 auto;
        padding: 0 2rem;

        .btn-container {
          text-align: center;
          margin: 32px 0;
        }

        h1 {
          text-align: center;
          margin-top: 0;
          padding-top: 60px;
          font-size: 1.5em;
        }
      }
    }
  }
}
