@import '../libs.scss';
@import '../variables.scss';

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 100%;
  padding: 20px;
  top: 0;
  z-index: 2;

  .menu-mobile.active {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
  }

  .menu-mobile.dark.active {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
  }

  .menu-mobile {
    display: none;
    justify-self: end;
    font-size: 20px;
    border-radius: 3px;
    padding: 0 12px 12px 12px;
    font-family: $LATO_REGULAR_FONT, sans-serif;

    &__btn-menu {
      display: inline-block;
      cursor: pointer;
      font-size: 40px;
      font-weight: bold;
    }

    &__main,
    &__sub {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__main {
      li {
        padding: 0;
        margin-top: 12px;

        a {
          border-radius: 3px;
          padding: 8px;
          transition: all linear 150ms;

          svg {
            width: 25px;
            height: 25px;
          }

          &:hover {
            color: $WHITE_COLOR;
            background: $BLACK_COLOR;
          }
        }
      }
    }

    &__sub {
      padding: 0;

      li {
        display: block;
        padding: 0;
        margin-top: 12px;

        a {
          padding: 8px;
        }
      }
    }

    &__main li {
      .menu__sub {
        visibility: hidden;
      }
    }

    &__main li:hover {
      .menu__sub {
        visibility: visible;
      }
    }
  }

  .menu-mobile.dark {
    color: $WHITE_COLOR;

    .menu-mobile__main {
      li {
        a {
          svg {
            fill: $WHITE_COLOR;
          }
          &:hover {
            color: $WHITE_COLOR;
            background: $BLACK_COLOR;
            svg {
              fill: $WHITE_COLOR;
            }
          }
        }
      }
    }
  }

  .menu-mobile.light {
    color: $BLACK_COLOR;

    .menu-mobile__main {
      li {
        a {
          &:hover {
            color: $WHITE_COLOR;
            background: $BLACK_COLOR;

            svg {
              fill: $WHITE_COLOR;
            }
          }
        }
      }
    }
  }

  .menu {
    justify-self: end;
    font-size: 20px;
    font-family: $LATO_REGULAR_FONT, sans-serif;
    margin-right: 16px;

    &__main,
    &__sub {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__main {
      li {
        display: inline-block;
        padding: 16px 8px;

        a {
          border-radius: 3px;
          padding: 14px;
          transition: all linear 150ms;
        }
        .tg-icon-container {
          padding: 10px;
        }
      }
    }

    &__sub {
      position: absolute;
      padding: 0;
      margin-top: 16px;

      li {
        display: block;
        padding: 16px 0 16px 0;

        a {
          padding: 16px 14px;
        }
      }
    }

    &__main li {
      .menu__sub {
        visibility: hidden;
      }
    }

    &__main li:hover {
      .menu__sub {
        visibility: visible;
      }
    }
  }

  .menu.light {
    color: $BLACK_COLOR;

    .menu__main {
      li {
        a {
          &:hover {
            color: $WHITE_COLOR;
            background: $BLACK_COLOR;

            svg {
              fill: $WHITE_COLOR;
            }
          }
        }
      }
    }
  }

  .menu.dark {
    color: $WHITE_COLOR;

    .menu__main {
      li {
        a {
          fill: $WHITE_COLOR;

          &:hover {
            color: $BLACK_COLOR;
            background: $WHITE_COLOR;
          }
        }
        a:hover svg {
          fill: $BLACK_COLOR;
        }
      }
    }
  }


  .title {
    justify-self: start;
    color: $BLACK_PREMIUM_COLOR;

    h1, h3 {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 48px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 20px;
      font-weight: lighter;
    }
  }

  .title.dark {
    color: $WHITE_COLOR;
  }
}

@media only screen and (max-width: 1200px) {
  header {
    .menu {
      display: none;
    }

    .menu-mobile {
      display: block;
    }
  }
}

@media only screen and (max-width: 780px) {
  header {
    .title {
      h1 {
        font-size: 26px;
      }

      h3 {
        display: none;
      }
    }

    .menu-mobile {
      padding: 0 6px 6px 6px;
      font-size: 16px;

      &__btn-menu {
        font-size: 26px;
      }
    }
  }
}
