$BTN_SAVE_COLOR: rgba(0, 255, 0, 0.2);
$BTN_SAVE_COLOR_HOVER: rgba(0, 255, 0, 0.2);
$BTN_REMOVE_COLOR: rgba(255, 0, 0, 0.2);
$BTN_REMOVE_COLOR_HOVER: rgba(255, 0, 0, 0.25);

.editor {
  margin: 12px;

  .head {
    max-width: 780px;
    margin: 150px auto 0 auto;
    padding: 0 16px;

    h1 {
      text-transform: uppercase;
      color: #333333;
      font-size: 4em;
    }
  }

  .body {
    .props {
      max-width: 1280px;
      margin: 20px auto;

      label {
        text-align: left;
        align-self: center;
        font-weight: bold;
      }

      .id-post {
        display: block;
        color: #757575;
        font-weight: bold;
        text-align: left;
      }

      .props-container {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-gap: 16px;

        .props-left {
          .input-container {
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-gap: 16px;
            margin-top: 16px;

            input {
              padding: 8px;
              font-size: 16px;
            }
          }

          .images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 12px;
            margin-top: 16px;

            .image-container {
              display: grid;
              text-align: left;
              grid-template-columns: 1fr 1fr;

              .image-input {
                input {
                  margin-top: 8px;
                }
              }
            }

            .image-head {
              grid-column: 1 / 4;

              label {
                display: block;
              }
            }
          }
        }

        .props-right {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 8px;

          .input-container {
            margin-bottom: 12px;

            .preview {
              padding: 4px;
              font-weight: bold;
            }

            input {
              padding: 8px;
              font-size: 16px;
            }

            button {
              padding: 12px;
              cursor: pointer;
              font-weight: bold;
              border: none;

              &.save {
                width: 100%;
                background: $BTN_SAVE_COLOR;

                &:hover {
                  background: $BTN_SAVE_COLOR_HOVER;
                }
              }
              &.save.disabled {
                cursor: default;
                background: rgba(200, 200, 200, 0.2);
              }
            }
          }

          .remove-container {
            display: grid;
            margin-top: 64px;

            .remove {
              justify-self: end;
              background: $BTN_REMOVE_COLOR;

              &:hover {
                background: $BTN_REMOVE_COLOR_HOVER;
              }
            }
          }
          .category-editor {
            button {
              margin-top: 4px;
              margin-bottom: 8px;
            }
            .remove-category-btn {
              width: 100%;
              background: $BTN_REMOVE_COLOR;

              &:hover {
                background: $BTN_REMOVE_COLOR_HOVER;
              }
            }
          }
        }
      }
    }
  }
}
