.categories-section {
  .background {
    background: #000000;
  }
  .content {
    margin: 0 auto;
    max-width: 1080px;

    h2 {
      padding-top: 20px;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    .categories-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-bottom: 64px;
      grid-gap: 24px;
    }
  }

  &:before {
    display: block;
    height: 35px;
    content: "";
    background: url(../../../public/images/devider.png) repeat-x scroll 0 100%/contain;
    margin-bottom: -20px;
  }
  &:after {
    display: block;
    height: 35px;
    content: "";
    background: url(../../../public/images/devider-down.png) repeat-x scroll 0 0/contain;
  }
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 768px) {
  .categories-section {
    .content {
      .categories-items {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media only screen and (max-width: 616px) {
}
