<p>
  Компадрэ! Членство в клубе вольных стрелков успешно продлено на {{days}} дней.<br>
  Логин: {{email}}<br>
  Пароль: {{pass}}
</p>
<p>
  Доступ в закрытый телеграм канал без рекламы:<br>
  <a href='https://t.me/+Pmel3-UnrUIyNjk6'>https://t.me/+Pmel3-UnrUIyNjk6</a>
</p>
<p>
  Все дороги ведут в Рим<br>
  <a href='https://t.me/+zFbLcCnTJUU2MDAy'>https://t.me/+zFbLcCnTJUU2MDAy</a>
</p>
