<p>
  Компадрэ! Добро пожаловать на борт.<br>
  Лови пароль: {{pass}}<br>
  Осталось дней: {{days}}
</p>
<p>
  Переходи по этой ссылке, чтобы залогиниться:<br>
  <a href='{{urlLogin}}'>{{urlLogin}}</a>
</p>
<p>
  Доступ в закрытый телеграм канал без рекламы:<br>
  <a href='https://t.me/+Pmel3-UnrUIyNjk6'>https://t.me/+Pmel3-UnrUIyNjk6</a>
</p>
<p>
  Все дороги ведут в Рим<br>
  <a href='https://t.me/+zFbLcCnTJUU2MDAy'>https://t.me/+zFbLcCnTJUU2MDAy</a>
</p>
