.category-element {
  color: #FFFFFF;
  font-size: 18px;

  h4 {
    font-size: 24px;
  }

  .img {
    height: 100px;
    background-image: url(../../../../public/images/categories-images.png);
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: 217.85%;
  }

  .img_1 {
    background-position: 0 50%;
  }

  .img_2 {
    background-position: 100% 16.6666%;
  }

  .img_3 {
    background-position: 0 16.6%;
  }

  .img_4 {
    background-position: 0 83.3333333%;
  }

  &:hover {
    .img_1 {
      background-position: 0 33.3333%;
    }

    .img_2 {
      background-position: 100% 0;
    }

    .img_3 {
      background-position: 0 0;
    }

    .img_4 {
      background-position: 0 66.6666666%;
    }
  }

  .more {
    text-decoration: underline;
    margin-top: 32px;
  }
}


@media only screen and (max-width: 768px) {
  .category-element {
    display: grid;
    grid-template-columns: 100px 1fr;

    .img_1 {
      background-position: 0 33.3333%;
    }

    .img_2 {
      background-position: 100% 0;
    }

    .img_3 {
      background-position: 0 0;
    }

    .img_4 {
      background-position: 0 66.6666666%;
    }

    .category-info {
      text-align: left;
      * {
        margin: 4px;
      }
    }
  }
}
