.archive-description {
  max-width: 780px;
  margin: 150px auto 0 auto;
  padding: 0 16px;

  h1 {
    text-transform: uppercase;
    color: #333333;
    font-size: 4em;
    margin-bottom: 0;
  }
  p {
    font-size: 20px;
    font-family: "Sylfaen", sans-serif;
  }
}
