<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="styles/style.css">
  <title>Weather App</title>
</head>
<body>
<div class="main">
  <h3>Weather App</h3>
  <form method="get" action="/weather">
    <h4>Введите название города:</h4>
    <div class="search-container">
      <input id="city" name="city" placeholder="Moscow" />
      <button>Показать</button>
    </div>
    <p class="description">Для поиска нужно ввести название города на латинице: Moscow, Novosibirsk, Kemerovo и
      т.д.</p>
  </form>
</div>
</button>
</body>
</html>