<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="styles/style.css">
  <title>Погода {{ name }}</title>
</head>
<body>
<div class="main">
  <h3>Weather App</h3>
  <a href="/">Назад</a>
  <div>
    {{#if name}}
    <h4>{{ name }}</h4>
    <div>Температура: <b>{{main.temp}}</b>℃</div>
    <div>По ощущениям: <b>{{main.feels_like}}</b>℃</div>
    <div>Влажность: <b>{{main.humidity}}</b>%</div>
    <div>Скорость ветра: <b>{{wind.speed}}</b>м/с</div>
    <div>Облачность: <b>{{clouds.all}}</b>%</div>
    {{else}}
      <h4>Город не найден</h4>
    {{/if}}
  </div>
</div>
</body>
</html>