.btn {
  display: inline-block;
  font-family: LatoBold, sans-serif;
  font-weight: 600;
  color: #fff!important;
  text-transform: uppercase;
  background: #cd0000;
  font-size: 18px;
  padding: 16px 48px;
  font-style: normal;
  transition: all .15s;

  &:hover {
    background: #b20000;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 780px) {
  .btn {
    font-size: 16px;
  }
}
