.subscribe-content {
  max-width: 780px;
  margin: 150px auto 0 auto;
  padding: 0 16px;

  h1 {
    text-transform: uppercase;
    color: #333333;
    font-size: 4em;
  }

  p {
    text-align: left;
    font-size: 20px;
    font-family: "Sylfaen", sans-serif;
  }

  input {
    padding: 8px;
    text-align: center;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
  }

  .select-payment {
    max-width: 300px;
    margin: 8px auto;
  }
}
