.button {
  display: grid;
  margin: 2px;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: rgba(255, 255, 255);
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(0, 0, 255, 0.1);
    border: 1px solid gray;
  }
}
