.btn {
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  border: 2px solid #000;
  color: #000!important;
  font-size: 20px;
  padding: 22px 40px;
  text-transform: uppercase;
  line-height: 1;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  font-weight: 700;
  background: #fefefe;
  font-family: "LatoRegular", sans-serif;

  svg {
    fill: #000000;
    height: 20px;
    margin-bottom: -1px;
    margin-right: 20px;
  }

  &:hover {
    color: #fefefe!important;
    background: #000;
    text-decoration: underline;

    svg {
      fill: #ffffff;
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    padding: 22px 14px;
  }
}
